doctype html(lang='en')
head
    meta(charset='UTF-8')
    |
    title Element not found!
    |
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 404
    |
    h2 Element not found!
    |
    p
      a(href='/') back