doctype html(lang='en')
head
    meta(charset='UTF-8')
    |
    title The Elements
    |
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 The Elements
    |
    h2 These are all the known elements.
    |
    h3 These are 2
    |
    ol
      li
        a(href='/hydrogen.html') Hydrogen
      |
      li
        a(href='/helium.html') Helium