doctype html(lang='en')
head
    meta(charset='UTF-8')
    title The Elements
    style
      include css/styles.css
  body
    h1 The Elements
    h2 These are all the known elements.
    ol
      block content